@model LittleFirmManagement.Models.FPurchaseCreateViewModel

<h1>Enter a purchase</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Purchase.PFkPaymentId" class="control-label"></label>
                <select asp-for="Purchase.PFkPaymentId" class="form-control" asp-items="Model.Payments"></select>
                <span asp-validation-for="Purchase.PFkPaymentId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Purchase.PFkCategoryId" class="control-label"></label>
                <select asp-for="Purchase.PFkCategoryId" class="form-control" asp-items="Model.Categories"></select>
                <span asp-validation-for="Purchase.PFkCategoryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Purchase.PFkSupplierId" class="control-label"></label>
                <select asp-for="Purchase.PFkSupplierId" class="form-control" asp-items="Model.Suppliers"></select>
                <span asp-validation-for="Purchase.PFkSupplierId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Purchase.PInvoiceDate" class="control-label"></label>
                <input asp-for="Purchase.PInvoiceDate" type="date" class="form-control" />
                <span asp-validation-for="Purchase.PInvoiceDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Purchase.PDisbursementDate" class="control-label"></label>
                <input asp-for="Purchase.PDisbursementDate" type="date" class="form-control" />
                <span asp-validation-for="Purchase.PDisbursementDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Purchase.PDebitDate" class="control-label"></label>
                <input asp-for="Purchase.PDebitDate" type="date" class="form-control" />
                <span asp-validation-for="Purchase.PDebitDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Purchase.PDescription" class="control-label"></label>
                <textarea asp-for="Purchase.PDescription" class="form-control"></textarea>
                <span asp-validation-for="Purchase.PDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Purchase.PAmount" class="control-label"></label>
                <input asp-for="Purchase.PAmount" type="number" class="form-control" />
                <span asp-validation-for="Purchase.PAmount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
