@model LittleFirmManagement.Models.FClient

<div class="container">
    <form asp-action="Create" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <div class="card-header">Identity</div>
                    <div class="card-body">
                        <div class="mb-3">
                            <label asp-for="CName" class="form-label"></label>
                            <input asp-for="CName" class="form-control" />
                            <span asp-validation-for="CName" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label asp-for="CFirstname" class="form-label"></label>
                            <input asp-for="CFirstname" class="form-control" />
                            <span asp-validation-for="CFirstname" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label asp-for="CEmail" class="form-label"></label>
                            <input asp-for="CEmail" class="form-control" />
                            <span asp-validation-for="CEmail" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label asp-for="CPhoneFixed" class="form-label"></label>
                            <input asp-for="CPhoneFixed" class="form-control" />
                            <span asp-validation-for="CPhoneFixed" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label asp-for="CPhoneCell" class="form-label"></label>
                            <input asp-for="CPhoneCell" class="form-control" />
                            <span asp-validation-for="CPhoneCell" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label asp-for="CFkMediaId" class="form-label"></label>
                            <select asp-for="CFkMediaId" class="form-control" asp-items="ViewBag.CFkMediaId"></select>
                        </div>
                        <div class="card mt-3">
                            <div class="card-header">
                                <div class="form-check form-switch">
                                    <label class="form-check-label" for="flexSwitchCheckDefault">Register in the Urssaf api ?</label>
                                    <input class="form-check-input" data-bs-toggle="collapse" type="checkbox" role="switch" id="enableUrssafPayment" href="#collapseCard">
                                </div>
                            </div>
                            <div class="collapse" id="collapseCard">
                                <div class="card-body">
                                    <div class="mb-3">
                                        <label asp-for="IsMan" class="form-label">Is Man?</label>
                                        <input type="checkbox" class="form-check-input" asp-for="IsMan">
                                    </div>
                                    <div class="mb-3">
                                        <label asp-for="CBirthDate" class="form-label">Birth Date</label>
                                        <input type="date" class="form-control" asp-for="CBirthDate">
                                        <span asp-validation-for="CBirthDate" class="text-danger"></span>
                                    </div>
                                    <div class="mb-3">
                                        <label asp-for="CBirthName" class="form-label">Birth Name</label>
                                        <input type="text" class="form-control" asp-for="CBirthName">
                                        <span asp-validation-for="CBirthName" class="text-danger"></span>
                                    </div>
                                    <div class="mb-3">
                                        <label asp-for="CFkBirthCityId" class="form-label"></label>
                                        <select asp-for="CFkBirthCityId" class="form-control" asp-items="ViewBag.CFkBirthCityId"></select>
                                    </div>
                                    <div class="mb-3">
                                        <label asp-for="CAccountHolder" class="form-label">Account Holder</label>
                                        <input type="text" class="form-control" asp-for="CAccountHolder">
                                        <span asp-validation-for="CAccountHolder" class="text-danger"></span>
                                    </div>
                                    <div class="mb-3">
                                        <label asp-for="CIban" class="form-label">IBAN</label>
                                        <input type="text" class="form-control" asp-for="CIban">
                                        <span asp-validation-for="CIban" class="text-danger"></span>
                                    </div>
                                    <div class="mb-3">
                                        <label asp-for="CBic" class="form-label">BIC</label>
                                        <input type="text" class="form-control" asp-for="CBic">
                                        <span asp-validation-for="CBic" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card">
                    <div class="card-header">Location</div>
                    <div class="card-body">
                        <div class="mb-3">
                            <label asp-for="CFkCityId" class="form-label"></label>
                            <select asp-for="CFkCityId" class="form-control" asp-items="ViewBag.CFkCityId"></select>
                        </div>
                        <div class="mb-3">
                            <label asp-for="CAddress" class="form-label"></label>
                            <input asp-for="CAddress" class="form-control" />
                            <span asp-validation-for="CAddress" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label asp-for="CLocationLong" class="form-label"></label>
                            <input asp-for="CLocationLong" class="form-control" />
                            <span asp-validation-for="CLocationLong" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label asp-for="CLocationLat" class="form-label"></label>
                            <input asp-for="CLocationLat" class="form-control" />
                            <span asp-validation-for="CLocationLat" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4 d-flex flex-column align-items-end">
                <input type="submit" value="Save and record an intervention" class="btn btn-primary mb-4" />
                <input type="submit" value="Save and exit" class="btn btn-primary mb-4" />
                <a asp-controller="Home" asp-action="Index" class="btn btn-secondary">Cancel</a>
            </div>
        </div>
    </form>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
