@model AddressFinder.Models.AddressViewModel

<div class="container">
    <h1>Address Finder</h1>
    <div class="row">
        <div class="col-md-4">
            <form method="post">
                <div class="form-group">
                    <label for="town">Town</label>
                    <input type="text" class="form-control" id="town" name="Town" placeholder="Enter town name">
                </div>
                <div class="form-group">
                    <label for="address">Address</label>
                    <input type="text" class="form-control" id="address" name="Address" placeholder="Enter address">
                </div>
                <button type="submit" class="btn btn-primary">Find Address</button>
                <button type="button" class="btn btn-danger" id="clear">Clear Map</button>
            </form>
            <div id="result"></div>
        </div>
        <div class="col-md-8">
            <div id="map" style="height: 500px;"></div>
        </div>
    </div>
</div>

@section Scripts{
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.7.1/dist/leaflet.js"></script>

    <!-- Leaflet CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.7.1/leaflet.min.css" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- Leaflet JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.7.1/leaflet.min.js" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>
        var map = L.map('map').setView([42.505, -0.09], 13);

        map.on('click', onMapClick);

        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors',
            maxZoom: 18,
        }).addTo(map);

        var redIcon = L.icon({
            iconUrl: 'https://cdn.rawgit.com/pointhi/leaflet-color-markers/master/img/marker-icon-red.png',
            iconSize: [25, 41],
            iconAnchor: [12, 41],
            popupAnchor: [1, -34],
            tooltipAnchor: [16, -28],
            shadowSize: [41, 41]
        });

        var marker = L.marker([51.505, -0.09], { icon: redIcon }).addTo(map);

        function updateMarker(lat, lng) {
            marker.setLatLng([lat, lng], { icon: redIcon });
            map.setView([lat, lng]);
        }

        function updateResult(data) {
            $("#result").empty();
            if (data.address != null) {
                var addressParagraph = document.createElement("p");
                var addressText = document.createTextNode("Address: " + data.address);
                addressParagraph.appendChild(addressText);
                document.getElementById("result").appendChild(addressParagraph);
            }
            if (data.town != null) {
                var townParagraph = document.createElement("p");
                var townText = document.createTextNode("Town: " + data.town);
                townParagraph.appendChild(townText);
                document.getElementById("result").appendChild(townParagraph);
            }
            if (data.latitude != null && data.longitude != null) {
                var latParagraph = document.createElement("p");
                var latText = document.createTextNode("Latitude: " + data.latitude);
                latParagraph.appendChild(latText);
                document.getElementById("result").appendChild(latParagraph);

                var lngParagraph = document.createElement("p");
                var lngText = document.createTextNode("Longitude: " + data.longitude);
                lngParagraph.appendChild(lngText);
                document.getElementById("result").appendChild(lngParagraph);
            }
        }

        var form = document.querySelector('form');
        form.addEventListener('submit', function (event) {
            event.preventDefault();
            var town = document.getElementById("town").value;
            var address = document.getElementById("address").value;

            var xhr = new XMLHttpRequest();
            xhr.open("POST", "/Home/FindAddress", true);
            xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
            xhr.onreadystatechange = function () {
                if (xhr.readyState === 4 && xhr.status === 200) {
                    var data = JSON.parse(xhr.responseText);
                    console.log(data);
                    updateMarker(data.latitude, data.longitude);
                    updateResult(data);
                }
            };
            xhr.send("Town=" + encodeURIComponent(town) + "&Address=" + encodeURIComponent(address));
        });

        function onMapClick(e) {
            // Reverse geocode the clicked location to get an address
            var xhr = new XMLHttpRequest();
            xhr.open("GET", "https://nominatim.openstreetmap.org/reverse?format=jsonv2&lat=" + e.latlng.lat + "&lon=" + e.latlng.lng, true);
            xhr.onreadystatechange = function () {
                if (xhr.readyState === 4 && xhr.status === 200) {
                    var data = JSON.parse(xhr.responseText);
                    updateResult({ address: data.address.road, town: data.address.town || data.address.city || data.address.village || "", latitude: e.latlng.lat, longitude: e.latlng.lng });
                    console.log(data);
                    if (data.address != null) {
                        var address = data.address.road + ", " + data.address.city + ", " + data.address.state + ", " + data.address.postcode;
                        document.getElementById("address").value = address;
                        document.getElementById("town").value = data.address.town || data.address.city || data.address.village || "";
                    }
                }
            };
            xhr.send();
            updateMarker(e.latlng.lat, e.latlng.lng);
        }

        var clearButton = document.getElementById("clear");
        clearButton.addEventListener("click", function () {
            marker.setLatLng([51.505, -0.09]);
            document.getElementById("address").value = "";
            document.getElementById("town").value = "";
        });


    </script>
}