@{
    ViewData["Title"] = "Consult nav";
}


<div class="text-center">
    <div class="container-fluid">
        <div class="row">
            <ul class="list-group">
                <li class="list-group-item"><a class="nav-link" asp-controller="FClients" asp-action="Index">Clients</a></li>
                <li class="list-group-item"><a class="nav-link" asp-controller="Treasury" asp-action="Index">Treasury</a></li>
                <li class="list-group-item"><a class="nav-link" asp-controller="KeyIndicators" asp-action="Index">Key indicators</a></li>
            </ul>
        </div>
    </div>

</div>
