@model LittleFirmManagement.Models.FInvoiceCreateViewModel

<h1>Record a new invoice</h1>

<div class="container">
    <form asp-action="Create" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="row">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header">Invoice</div>
                    <div class="card-body">
                        <div class="form-group">
                            <label asp-for="Invoice.InFkPaymentId" class="control-label"></label>
                            <select asp-for="Invoice.InFkPaymentId" class="form-control" asp-items="Model.Payments"></select>
                            <span asp-validation-for="Invoice.InFkPaymentId" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Invoice.InInvoiceId" class="control-label"></label>
                            <input asp-for="Invoice.InInvoiceId" type="number" class="form-control" readonly />
                        </div>
                        <div class="form-group">
                            <label asp-for="Invoice.InInvoiceDate" class="control-label"></label>
                            <input asp-for="Invoice.InInvoiceDate" type="date" class="form-control" />
                            <span asp-validation-for="Invoice.InInvoiceDate" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Invoice.InReceiptDate" class="control-label"></label>
                            <input asp-for="Invoice.InReceiptDate" type="date" class="form-control" />
                            <span asp-validation-for="Invoice.InReceiptDate" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Invoice.InCreditDate" class="control-label"></label>
                            <input asp-for="Invoice.InCreditDate" type="date" class="form-control" />
                            <span asp-validation-for="Invoice.InCreditDate" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Invoice.InAmount" class="control-label"></label>
                            <input asp-for="Invoice.InAmount" type="number" class="form-control" />
                            <span asp-validation-for="Invoice.InAmount" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="InIsEligibleDeferredTaxCredit" class="form-check-label"></label>
                            <input asp-for="InIsEligibleDeferredTaxCredit" type="checkbox" role="switch" class="form-check-input" />
                            <span asp-validation-for="InIsEligibleDeferredTaxCredit" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Invoice.InUrssafPaymentRequestUuid" class="control-label"></label>
                            <input asp-for="Invoice.InUrssafPaymentRequestUuid" type="text" class="form-control" />
                            <span asp-validation-for="Invoice.InUrssafPaymentRequestUuid" class="text-danger"></span>
                        </div>
                        <div class="card mt-3">
                            <div class="card-header">Associated interventions</div>
                            <div class="card-body">
                                <div class="card mt-3">
                                    <div class="card-header">Client</div>
                                    <div class="card-body">
                                        <input type="hidden" asp-for="ClientId" />
                                        <div class="mb-3">
                                            <label class="form-label">Name : @Model.Client.CName</label>
                                        </div>
                                        <div class="mb-3">
                                            <label class="form-label">Firstname : @Model.Client.CFirstname</label>
                                        </div>
                                        <div class="mb-3">
                                            <label class="form-label">Address : @Model.Client.CAddress</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label asp-for="SelectedInterventions" class="control-label">Select Interventions</label>
                                    <select class="form-select" multiple asp-for="SelectedInterventions" asp-items="Model.Interventions"></select>
                                    <span asp-validation-for="SelectedInterventions" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4 d-flex flex-column align-items-end">
                <button name="validAndSave" value="true" asp-controller="FInvoices" asp-action="Create" class="btn btn-primary mb-4">Valid and save</button>
                <button name="validAndSave" value="false" asp-controller="FInvoices" asp-action="Create" class="btn btn-primary mb-4">Save</button>
                <a asp-controller="Home" asp-action="Index" class="btn btn-secondary">Cancel</a>
            </div>
        </div>
    </form>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
