@{
    ViewData["Title"] = "Enter nav";
}


<div class="text-center">
    <div class="container-fluid">
        <div class="row">
            <ul class="list-group">
                <li class="list-group-item"><a class="nav-link" asp-controller="FClients" asp-action="Create">Enter a customer</a></li>
            </ul>
        </div>
    </div>

</div>
